<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        {% if breadcrumb_current %}
        <li class="breadcrumb-item"><a href="{{ url_for('seminars.seminars_list') }}">Семинары</a></li>
        {% if breadcrumb_seminar %}
        <li class="breadcrumb-item"><a href="{{ url_for('seminars.seminars_detail', seminar_id=seminar.id) }}">{{ breadcrumb_seminar }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb_current }}</li>
        {% else %}
        <li class="breadcrumb-item active" aria-current="page">Семинары</li>
        {% endif %}
    </ol>
</nav>
